<header class="header">
  <div class="logo">
   <img src="/logo.png" alt="Dilr logo" />
   
  </div>

  <nav>
    <a href="#features">Funkciók</a>
<a href="#about">Mi ez?</a>
<a class="cta-small" href="#early">Korai hozzáférés</a>
  </nav>
</header>
